extends layout

block content
    div.container
        div.row
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                h1.text-center.title Welcome #{user.firstName}.
                div.content-wall
                    div.list-group
                        li.list-group-item
                            button.btn.btn-primary(type="button" style="float: right") Change username
                            h4.list-group-item-heading Username:
                            p.list-group-item-text #{user.username}
                        li.list-group-item
                            button.btn.btn-primary(type="button" style="float: right") Change email
                            h4.list-group-item-heading Email:
                            p.list-group-item-text #{user.email}
                        li.list-group-item
                            h4.list-group-item-heading First Name:
                            p.list-group-item-text #{user.firstName}
                        li.list-group-item
                            h4.list-group-item-heading Last Name:
                            p.list-group-item-text #{user.lastName}
                        li.list-group-item
                            button.btn.btn-primary(type="button" style="float: right") Change password
                            h4.list-group-item-heading Password:
                            p.list-group-item-text *****
                    a(href='/logout', class='text-center') Logout

                    button.btn.btn-success(style="float: right") Create new avatar

                if avatar
                    div.avatar-wall
                        table.col-md-8.avatar-details
                            tr
                                i.glyphicon.glyphicon-chevron-left
                                td #{avatar.head}
                                i.glyphicon.glyphicon-chevron-right
                            tr
                                i.glyphicon.glyphicon-chevron-left
                                td #{avatar.body}
                                i.glyphicon.glyphicon-chevron-right
                            tr
                                i.glyphicon.glyphicon-chevron-left
                                td #{avatar.tail}
                                i.glyphicon.glyphicon-chevron-right